function RochambeauMove(move){

  var self = this;

  this.move = move;

  this.makeMove = function(){
    var move = $.Deferred();
    var url = '/decisions/move.json';
    $.ajax({
      url: url,
      data: {move: self.move},
      type: 'post',
      dataType: 'json',
      beforeSend: function(xhr){
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      success: function(response){
        move.resolve(response);
      },
      error: function(message){
        move.reject(response);
      }
    });
    return move;
  };

  this.successfulMove = function(response){
    var result = response.tie ? 'tie.' : self.wonOrLost(response.won);
    var flash_text = 'You played ' + response.player_move + '. The result was a ' + result;
    self.setFlash(flash_text, 'success');
    self.resetHideFlashBinding();
    console.log(JSON.stringify(response));
  };

  this.failedMove = function(message){
    self.setFlash(message.responseText, 'error');
    self.resetHideFlashBinding();
    console.log(JSON.stringify(message));
  };

  this.wonOrLost = function(json_input){
    result = '';
    if(json_input === true){
      result = ' crushing defeat of our AI overlords!';
      var playerScore = parseInt($('#results #player').html());
      $('#results #player').html(playerScore + 1);
    } else {
      result = ' inevitable victory for Skynet.'
      var AIScore = parseInt($('#results #ai').html());
      $('#results #ai').html(AIScore + 1);
    }
    return result;
  };

  this.setFlash = function(flash_text, status){
    if(status === 'success'){
      var flash = $("<div class='alert alert-success'></div>");
    } else {
      var flash = $("<div class='alert alert-error'></div>");
    }
    flash.append(flash_text);
    flash.append("<a href='#' class='close'>&times;</a>");
    $('div#flash_target').html(flash);
  };

  this.resetHideFlashBinding = function(){
    $('.alert .close').click(function(e){
      e.preventDefault();
      $('.alert').slideUp('fast');
    });
  };

};


// Click handlers go within the jQ namespace
$(document).ready(function(){

  // Click handler for rock
  $('.rock_button').on('click', function(e){
    e.preventDefault();
    var playRock = new RochambeauMove('rock');
    playRock.makeMove().then(playRock.successfulMove, playRock.failedMove);
  });

  // Click handler for paper
  $('.paper_button').on('click', function(e){
    e.preventDefault();
    var playPaper = new RochambeauMove('paper');
    playPaper.makeMove().then(playPaper.successfulMove, playPaper.failedMove);
  });

  // Click handler for scissors
  $('.scissors_button').on('click', function(e){
    e.preventDefault();
    var playScissors = new RochambeauMove('scissors');
    playScissors.makeMove().then(playScissors.successfulMove, playScissors.failedMove);
  });

});