<h2>Try scssrs now!</h2>
<p>Best our advanced chance engine to get your way at work, wow pointy-haired bosses or settle domestic disputes at home. Coin tossing is so last year.</p>

<div class='btn-group main_buttons'>
  <%= link_to 'rock', '#', class: 'btn btn-primary btn-lg rock_button' %>
  <%= link_to 'paper', '#', class: 'btn btn-success btn-lg paper_button' %>
  <%= link_to 'scissors', '#', class: 'btn btn-warning btn-lg scissors_button' %>
</div>

<script type="text/javascript">
  <%= render partial: '/layouts/shared/js/move_ajax', formats: [:js] %>
</script>
